.logo {
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(../img/profilabdul.jpeg);
    background-size: cover;
}

body {
  min-height: 100vh;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
    color: #d8ca07;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 32px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}

.nav-menu {
  display: flex;
  gap: 16px;
}

.nav-menu a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}




