.logo {
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(../img/profilabdul.jpeg);
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}